html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;   
}
body {
  background: url(../images/evergreen-olympic-national-forest-2800x2100.jpg) no-repeat top center;
  margin: 2rem;
  background-blend-mode: lighten;
  background-size: cover;
}

header {
/*
  padding: 2rem;
  border-radius: 1rem;
  width: 95%;
*/
/*  background-color: #BDBDBD;*/
}

nav {
  background-color: #BDBDBD;
  padding: .5rem;
}

h1, h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  color: #202020;
/*    background-color: #2d2d2d;*/
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
}

h2 { 
  font-size: 20px; 
  padding: 5px 5px;
}

img {
  display: block;
  margin: auto;  
  border-radius: 1rem;
  border-color: #00897B;
  
/*  background-color: #B2DFDB;*/
  background-color: #BDBDBD;
}

img.img-lg {
  float: left;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  padding: 12px 6px;
}

div.sec {
  margin-top: 2rem;
  height: 390px;
}

div.sec-sm {
  margin-top: 2rem;
  height: 300px;
}

img.img-med-lt {
  display: block;  
  height: auto;
  padding: 12px 6px;
}

img.img-sm-lt {
  padding: 12px 6px;
  float: left;
  width: 200px; 
  height: 250px;
  margin-left: 2rem;
  margin-top: 1rem;
}

div.img-cont {
  width 15%;
}

img.img-ct {
  float: left;
  width: 48%;
  padding: 12px 6px;
  margin-top: 1rem;
}

.lt {
  float: left;
  width: 100%;
}

.rt {
  float: right;
  width: 49%;
}

p { font-family: 'Roboto Slab', serif; }

p.p-lt {
  float: left;
  width: 50%;
}

p.p-rt {
  float: right;
  width: 70%;
  margin-left: 1rem;
  padding-left: 1rem;
  height: 250px;
} 

aside {
  display: block;
  float: left;
  width: 100%;
  }

footer {
  display: block;
  float: left;
  width: 95%;
  background-color: #BDBDBD;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}